*/
/*
.phone{
margin-top: 50px;
margin-left: -20px;
margin-right: 20px;
float: left;	
}
.tel_num{
	/*padding: 10px;
	margin-right: 50px;
	margin-left: 10px;
	margin-top: 30px;
	color: white;
	float: left;	
}
.adress{
	padding: 10px;
margin-left: -191px;
	margin-right: 10px;
	margin-top:20px;
    float: left;
	color: white;
}
.location-icon{
margin-top:40px;
padding: 10px;
margin-left: -240px;
float:left;
}
.mail-icon{	

margin-left: -180px;
margin-right: 10px;
margin-top:60px;
float:left;
}
.mail_us{
	padding: 10px;
	margin-right: 10px;
	margin-top:20px;
    float: left;
	color: white;	
}
#mail{
	width:1100px;
	display: block;
	
}*/
/*p .blockquote{
	color:white;
	border-left: 2px solid #A7A9AC;
	display: inline;
	float: left;
	margin-left: 60px;
}
.icons{

	float: left;
	padding: 20px;
}
.icon{
	margin:40px;
}

#icon_order{
	list-style-type: none;
}
.blockquotes{

	float:left;
	color: white;
		margin-top:40px;

}*/